@page
@model CreditModel
@{
    ViewData["Title"] = "People, organizations, projects, sites, and platforms that we want to give credit to for their assistance.";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        Minister Brian Webb - Founder
    </li>
    <li>
        Rabbis Carick, Carl and Donna
    </li>

    <li>
        This site's Privacy Policy has been created with the help of the <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Privacy Policy Generator</a>.
    </li>
</ul>
